.cheatsheet {
  background-color: $bg;
  border-radius: 0.5rem;
}

.title {
  font-weight: Bolder;
  color: $magenta;
  margin: 1.6rem 1.6rem 0 1.6rem;
}

.title-info {
  font-style: Italic;
  margin-top: 3px;
  color: $fg;
}

.content {
  margin: 1rem 1rem;
}

.category-bspwm {
  font-weight: Bold;
  background-color: $green;
  color: $bg;
  margin: 8px 0;
  padding: 2px 0;
  border-radius: 2px;
}

.category-system {
  font-weight: Bold;
  background-color: $red;
  color: $bg;
  margin: 8px 0;
  padding: 2px 0;
  border-radius: 2px;
}

.category-nodes {
  font-weight: Bold;
  background-color: $yellow;
  color: $bg;
  margin: 8px 0;
  padding: 2px 0;
  border-radius: 2px;
}

.category-workspaces {
  font-weight: Bold;
  background-color: $archicon;
  color: $bg;
  margin: 8px 0;
  padding: 2px 0;
  border-radius: 2px;
}

.category-apps {
  font-weight: Bold;
  background-color: $green;
  color: $bg;
  margin: 8px 0;
  padding: 2px 0;
  border-radius: 2px;
}

.category-preselection {
  font-weight: Bold;
  background-color: $blue;
  color: $bg;
  margin: 8px 0;
  padding: 2px 0;
  border-radius: 2px;
}

.category-others {
  font-weight: Bold;
  background-color: $red;
  color: $bg;
  margin: 8px 0;
  padding: 2px 0;
  border-radius: 2px;
}

.category-power {
  font-weight: Bold;
  background-color: $cyan;
  color: $bg;
  margin: 8px 0;
  padding: 2px 0;
  border-radius: 2px;
}

.keys {
  color: $fg;
}

.keys-alt {
  font-weight: Bold;
  color: $fg;
}

scrollbar {
  trough {
    padding-left: 30px; /* hack to make the scrollbar expand when the mouse is almost close */
    min-width: 3px;

    slider {
      min-width: 4px;
      border-radius: 999999px;
      transition: all 0.2s cubic-bezier(0.22, 1, 0.36, 1);
      background-color: $green;
    }
  }

  &:hover trough slider {
    min-width: 8px;
    background-color: $green;
  }
}
