.widget-notify-title{
  font-weight: Bolder;
  font-size: 0.9rem;
  color: $blue;
  margin: 1.6rem 1.6rem 1.6rem 1.6rem;
}
.notify {
  border-radius: 0.5rem;
}
.notify-container{
  font-family: "GohuFont 11 Nerd Font";
  background-color: $bg-alt;
  margin: 2px 2px;
  border-radius: 10px;
  padding: 7px;
}
.notify-title{
  color: $fg;
  font-weight: Bold;
}
.notify-content{
  color: $fg-alt;
}
