layout {
    tab name="nvim" {
        pane {
            name "editor"
            command "nvim"
          }
    }
    tab name="shell" {
      pane split_direction="horizontal"  {
        pane name="server"
        pane split_direction="vertical" { 
          pane name="yazi" command="yazi"
          pane name="lazygit" command="lazygit"
          }
        }
    }
    tab name="kanban" {
      pane name="kanban" command="tkanban"
    }
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
              format_left   "{mode} #[fg=#88c0d0,bold]{session}{tabs}"
              format_right  "{command_git_branch} {datetime}"
              format_space  ""

              border_enabled  "true"
              border_char     "─"
              border_format   "#[fg=#9D8F6F]{char}"
              border_position "top"

              hide_frame_for_single_pane "false"

              mode_normal  "#[bg=#88c0d0] "
              mode_tmux    "#[bg=#f1fa8c] "

              tab_normal   "#[fg=#eceff4] {name} "
              tab_active   "#[fg=#a3be8c,bold,italic] {name} "

              command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
              command_git_branch_format      "#[fg=green] {stdout} "
              command_git_branch_interval    "10"
              command_git_branch_rendermode  "static"

              datetime        "#[fg=#ebcb8b,bold] {format} "
              datetime_format "%A, %d %b %Y %H:%M"
              datetime_timezone "America/Caracas"
            }
        }
        children
        pane size=1 borderless=true  {
          plugin location="zellij:status-bar"
        }
    }
}
