:root {
/*---+---+---+---+---+---+---+
     | C | O | L | O | U | R | S |
     +---+---+---+---+---+---+---*/

/* Comment the color theme you don't want to use */

  /* Dark Theme Colors */
  --window-colour: #faf4ed;
  --secondary-colour: #f2e9e1;
  --inverted-colour: #575279;

  /* Containter Tab Colours */
  --uc-identity-color-blue: #fffac2;
  --uc-identity-color-turquoise: #55e6c1;
  --uc-identity-color-green: #b8e994;
  --uc-identity-color-yellow: #f7d794;
  --uc-identity-color-orange: #f19066;
  --uc-identity-color-red: #fc5c65;
  --uc-identity-color-pink: #f78fb3;
  --uc-identity-color-purple: #786fa6;
  --uc-not-selected-tab: #56949f;
/* URL colour in URL bar suggestions */
  --urlbar-popup-url-color: var(--uc-identity-color-purple) !important;

  /*---+---+---+---+---+---+---+
     | V | I | S | U | A | L | S |
     +---+---+---+---+---+---+---*/

  /* global border radius */
  --uc-border-radius: 0;

  /* dynamic url bar width settings */
  --uc-urlbar-width: clamp(250px, 50vw, 600px);

  /* dynamic tab width settings */
  --uc-active-tab-width: clamp(50px, 18vw, 220px);
  --uc-inactive-tab-width: clamp(50px, 15vw, 200px);

  /* if active always shows the tab close button */
  --show-tab-close-button: none;
  /* DEFAULT: -moz-inline-box; */

  /* if active only shows the tab close button on hover*/
  --show-tab-close-button-hover: -moz-inline-box;
  /* DEFAULT: -moz-inline-box; */

  /* adds left and right margin to the container-tabs indicator */
  --container-tabs-indicator-margin: 0px;
}

