/*========================================================================================================*

  +-----+-----+-----+-----+-----+-----+-----+
  | █▀▀ | ▄▀█ | █▀▀ | █▀▀ | ▄▀█ | █▀▄ | █▀▀ |
  | █▄▄ | █▀█ | ▄▄█ | █▄▄ | █▀█ | █▄▀ | ██▄ |
  +-----+-----+-----+-----+-----+-----+-----+ Mouse Edition.


    Description:    Cascade, Mouse Edition, is a Firefox Style based on the Cascade theme by Andreas Grafen
                    What you get is a really simple one-line layout using the new Proton UI.

                  The original Cascade Theme by Andreas Grafen was based on SimpleFox :
                  > SimpleFox: https://github.com/migueravila/SimpleFox


    Authors:        Andreas Grafen (original cascade theme)
                    (https://andreas.grafen.info)

		                joel soteldo (minor tweaks on the original file)


    Repository:     https://github.com/andreasgrafen/cascade
  		              https://github.com/krashmello/dotfiles

*========================================================================================================*/

/*---+---+---+---+---+---+
 | C | O | N | F | I | G |
 +---+---+---+---+---+---*/

/* Feel free to tweak the following
 * config settingsto your own liking. */

@import "./theme.css";
@import "./styles.css";
