/** Global *******************************************/
* {
  all: unset;
  font-family: feather;
  font-family: Iosevka;
}

/** Bar ***********************************/
.wid_get {
  background-color: #232136;
  border: 1px solid #ebbcba;
  border-radius: 12px;
}

/** Music *************************************************/
.album_art {
  background-size: 220px;
  min-height: 220px;
  min-width: 220px;
  margin: 10px;
  border-radius: 12px;
  border-color: #c6a0f6;
}

.album_info {
  margin: 10px;
}

.song {
  color: #f6c177;
  font-size: 20px;
  font-weight: bold;
}

.artist {
  color: #bea1ff;
  font-size: 20px;
  font-weight: normal;
}

.prev {
  color: #ebbcba;
  font-weight: normal;
  font-size: 32px;
}
.play {
  color: #ebbcba;
  font-size: 48px;
}
.next {
  color: #ebbcba;
  font-weight: normal;
  font-size: 32px;
}

/*.cava{
	color: #6290C8;
}*/

scale trough {
  all: unset;
  background-color: #6e6a86;
  min-height: 10px;
  min-width: 180px;
  margin: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 12px;
}

scale trough highlight {
  all: unset;
  border-radius: 12px;
  background-color: #9ccfd8;
}
