* {
  all: unset;
  font-family: "GohuFont 11 Nerd Font";
  font-size: 16;
}

tooltip {
  background-color: #14171c;
  color: #b8bfe5;
  font-family: Inconsolata SemiCondensed Medium;
  font-weight: Bold;
  font-size: 1rem;
}

@import "colors.scss";
@import "cheatsheet/cheatsheet.scss";
@import "notify/notify.scss";
@import "config/config.scss";
