* {
    BG:    #2E3440;
    BGA:   #2E3440;
    FG:    #D9E0EEff;
    FGA:   #F28FADff;
    BDR:   #96CDFB9f;
    SEL:   #89dcebff;
    BGB:   #89dceb9f;
    SELTE: #c6a0f61f;
    UGT:   #F28FADff;
    IMG:   #FAE3B0ff;
    OFF:   #575268ff;
    ON:    #ABE9B39f;
}
