.btn_flat {
  padding: 5;
  font-size: 25px;
  
}
.cal {
  background-color: $bg;
  font-size: 18px;
  font-weight: normal;
  border-radius: 16px;

.cal-in {
    padding: 0px 10px 0px 10px;
    color: $fg; 

.cal {
     &.highlight {
          padding: 20px;
      }

      padding: 5px 5px 5px 5px;
      margin-left: 10px;
    }
  }
}

calender {
    color: $fg; 
}
calendar:selected {
  color: $red;
}

calendar.header {
color: $yellow;
font-weight: bold;
}

calendar.button {
color: $green;
}

calendar.highlight {
color: $blue;
font-weight: bold;
}

calendar:indeterminate {
color: $magenta;
}
.mic_icon, .volume_icon, .iconcpu, .iconmem, .iconbright, .iconbat {
	font-size : 22;
	font-weight : normal;
}

.volume_control, .genwin{
	background-color: $bg;
	border-radius: 16px;
  padding: 4;
}

.volume_icon{
    color: $magenta;
}

.mic_icon {
    color: $blue;
}
.iconcpu {
	color: $red;
}
.iconmem {
	color: $green;
}
.iconbright {
	color: $yellow;
}
.iconbat {
	color: $blue;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough {
	// all: unset;
	background-color: $bg;
	border-radius: 16px;
	min-height: 12px;
	min-width: 240px;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough highlight {
	border-radius: 16px;
}

.cpu_bar scale trough highlight {
	background-color: $red;
}
.mem_bar scale trough highlight {
	background-color: $green;
}
.bright_bar scale trough highlight {
	background-color: $yellow;
}
.bat_bar scale trough highlight {
	background-color: $blue;
}
.volbar trough highlight {
  background-image: linear-gradient(to right, $magenta 30%, $magenta 50%, $magenta 100% *50);
  border-radius: 10px;
}
.micbar trough highlight {
  background-image: linear-gradient(to right, $blue 30%, $blue 50%, $blue 100% *50);
  border-radius: 10px;
}
