.mic_icon, .volume_icon, .iconcpu, .iconmem, .iconbright, .iconbat {
	font-size : 22;
	font-weight : normal;
}

.volume_control, .genwin{
	background-color: $bg;
	border-radius: 16px;
  padding: 4;
}

.volume_icon{
    color: $magenta;
}

.mic_icon {
    color: $blue;
}
.iconcpu {
	color: $red;
}
.iconmem {
	color: $green;
}
.iconbright {
	color: $yellow;
}
.iconbat {
	color: $blue;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough {
	// all: unset;
	background-color: $bg;
	border-radius: 16px;
	min-height: 22px;
	min-width: 240px;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough highlight {
	border-radius: 16px;
}

.cpu_bar scale trough highlight {
	background-color: $red;
}
.mem_bar scale trough highlight {
	background-color: $green;
}
.bright_bar scale trough highlight {
	background-color: $yellow;
}
.bat_bar scale trough highlight {
	background-color: $blue;
}
.volbar trough highlight {
  background-image: linear-gradient(to right, $magenta 30%, $magenta 50%, $magenta 100% *50);
  border-radius: 10px;
}
.micbar trough highlight {
  background-image: linear-gradient(to right, $blue 30%, $blue 50%, $blue 100% *50);
  border-radius: 10px;
}
