* {
    foreground:           #6e738d;
    selected-foreground:  #cad3f5;
    
    background:           #1e1e2eff; 
    background-solid:     #1e1e2eff; 
    selected-background:  rgba(0, 0, 0, 40%);
    /*#87b5d7;*/  
    /*#6eacda;*/
    /*#deca72;*/
    /*#39c9fe;*/
    red:                  rgba ( 220, 50, 47, 100 % );
    blue:                 rgba ( 38, 139, 210, 100 % );
}
