* {
  foreground:           #E5E9F0;
    selected-foreground:  #cad3f5;
    
    background:           #242933; 
    background-solid:     #242933; 
    selected-background:  #81A1C11f;
    borderMainBox: #88c0d0;
    elementBG: #d8dee9;
    /*#87b5d7;*/  
    /*#6eacda;*/
    /*#deca72;*/
    /*#39c9fe;*/
    red:                  rgba ( 220, 50, 47, 100 % );
    blue:                 rgba ( 38, 139, 210, 100 % );
}
