$bg: #4A1D1F;
$bg-alt: #4A1D1F;
$fg: #5EF6FF;
$fg-alt: #FFA500;
$black: #414868;
$lightblack: #262831;
$red: #ff7267;
$blue: #5EF6FF;
$cyan: #5EF6FF;
$magenta: #711C91;
$green: #25c46a;
$yellow: #FFA500;
$archicon: #0f94d2;
