$bg: #faf4ed;
$bg-alt: #fffaf3;
$fg: #575279;
$fg-alt: #797593;
$black: #9893a5;
$lightblack: #797593;
$red: #b4637a;
$blue: #56949f;
$cyan: #286983;
$magenta: #907aa9;
$green: #d7827e;
$yellow: #ea9d34;
