$bg: #1b1d1e;
$bg-alt: #4d504c;
$fg: #fcef0c;
$fg-alt: #e6dc44;
$black: #414868;
$lightblack: #262831;
$red: #f7768e;
$blue: #747271;
$cyan: #7dcfff;
$magenta: #56949f;
$green: #9ece6a;
$yellow: #e0af68;
$archicon: #0f94d2;
