$bg: #eff1f5;
$bg-alt: #e6e9ef;
$fg: #4c4f69;
$fg-alt: #179299;
$black: #414868;
$lightblack: #262831;
$red: #f7768e;
$blue: #dc8a78;
$cyan: #7dcfff;
$magenta: #56949f;
$green: #9ece6a;
$yellow: #e0af68;
$archicon: #0f94d2;
