$bg: #1e1e2e;
$bg-alt: #11111b;
$fg: #cdd6f4;
$fg-alt: #f5e0dc;
$black: #414868; 
$lightblack: #262831;
$red: #f38ba8;
$blue: #89b4fa;
$cyan: #89dceb;
$magenta: #cba6f7;
$green: #a6e3a1;
$yellow: #f9e2af;
$archicon: #0f94d2;
