$bg: #1e1e2e;
$bg-alt: #11111b;
$fg: #cdd6f4;
$fg-alt: #f5e0dc;
$black: #414868;
$lightblack: #262831;
$red: #f7768e;
$blue: #f5e0dc;
$cyan: #7dcfff;
$magenta: #56949f;
$green: #9ece6a;
$yellow: #e0af68;
$archicon: #0f94d2;
