$bg: #2e3440;
$bg-alt: #3b4252;
$fg: #d8dee9;
$fg-alt: #88c0d0;
$black: #414868;
$lightblack: #262831;
$red: #f7768e;
$blue: #88c0d0;
$cyan: #7dcfff;
$magenta: #56949f;
$green: #9ece6a;
$yellow: #e0af68;
$archicon: #0f94d2;
