$bg: #1b1e28;
$bg-alt: #2E3440;
$fg: #5de4c7;
$fg-alt: #cad3f5;
$black: #414868;
$lightblack: #262831;
$red: #f7768e;
$blue: #5de4c7;
$cyan: #7dcfff;
$magenta: #56949f;
$green: #9ece6a;
$yellow: #e0af68;
$archicon: #0f94d2;
