$bg: #faf4ed;
$bg-alt: #fffaf3;
$fg: #575279;
$fg-alt: #797593;
$black: #414868;
$lightblack: #262831;
$red: #f7768e;
$blue: #56949f;
$cyan: #7dcfff;
$magenta: #56949f;
$green: #9ece6a;
$yellow: #e0af68;
$archicon: #0f94d2;
