@media (-moz-platform: linux), (-moz-platform: windows) {
  :root {
    --panel-shadow-margin: 0px !important;
  }

  menupopup,
  panel {
    --panel-shadow-margin: 0px !important;
  }
}

menupopup {
  --panel-padding: 0px !important;
  background: var(--uc-theme-colour) !important;
}

menupopup > * {
  background: var(--uc-theme-colour) !important;
  color: var(--uc-inverted-colour) !important;
}
menupopup menuitem:hover {
    background: var(--uc-hover-colour) !important;
  color: var(--uc-inverted-colour) !important;
  border-radius: 10px !important;
  }
menupopup[open] , .menupopup-arrowscrollbox  {
  background: var(--uc-theme-colour) !important;
  outline: none !important;
  border: none !important;
}
:is(menupopup, panel):where([type="arrow"]){
  --panel-background: var(--uc-theme-colour) !important;
}

